{% extends "base.html" %}

{% block body %}

<form method="POST">
    <div class="container">
        <label for="text"><b>Логин</b></label><br />
        <input type="text" placeholder="" name="username" required /><br /><br />
        <label for="text">Пароль</label><br />
        <input type="password" placeholder="" name="password" required/><br /><br />
        <button type="submit">Войти</button><br />
    </div>
</form>
<br />
<form action="regis" target="_blank">
    <button type="submit">Зарегестрироваться</button>
</form>

{% endblock %}